<html lang="en">
<head>
  <meta charset="utf-8">
  <title>wechat-pivot-mockup oauth redirect</title>
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no">

  {{ helper.rsrc("css", "vendor/bootstrap-xs-e3fc08d519.css") | safe | inline }}
  {{ helper.rsrc("dist", "oauth-stamp4hash.css") | safe | inline }}
</head>
<body>
  <h3>Wechat-Pivot-Mockup</h3>
  <h3>OAuth Redirect</h3>

  <div class="container Login">
    <form class="form-horizontal">
      <input type="hidden" name="code" value="{{ code }}" />
      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <input type="text" name="username" class="form-control text-center" autocomplete="off" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <button type="button" class="form-control btn btn-default js-login">Login</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container Redirect hidden">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <a href="{{ redirect }}" class="btn btn-default">Back to your App with token</a>
      </div>
    </div>
  </div>

  {{ helper.rsrc("dist", "oauth-stamp4hash.js") | safe | inline }}
</body>
</html>
