{
  "extends": "airbnb",

  "rules": {
    // Mine
    "camelcase": [0],
    "new-cap": [2, {"capIsNewExceptions": ["Deferred"]}],
    "no-console": [0],
    "no-else-return": [0],
    "no-new": [0],
    "no-unused-vars": [2, {"vars": "local", "args": "after-used", "varsIgnorePattern": "^_$"}],
    "prefer-const": [0],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],

    // TODO
    "func-names": [0],
  }
}
