{
  "parser": "babel-eslint",

  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true
  },

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.config.dev.js"
      }
    }
  },

  "rules": {
    "no-console": 0
  }
}
