.ToolkitMenu {
  .list-group-item {
    cursor: default;

    &:empty {
      height: 42px;
    }
  }

  a.list-group-item-info.list-group-item-warning {
    color: #8a6d3b;
    background-color: #faf2cc;
    font-weight: bold;
  }
}
