.Setup {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.Setup-logo {
  width: 64px;
  height: 64px;
}

.Setup-backdrop {
  &.active {
    bottom: 0;
  }
}

.Setup-modal {
  &.active {
    display: block;
  }

  .nav-tabs {
    margin-bottom: 20px;

    & > li > a {
      cursor: pointer;

      & > i {
        margin-right: 4px;
      }
    }
  }

  form {
    .bg-success,
    .bg-warning {
      padding: 8px 15px;
      margin-bottom: 10px;
    }
  }
}
