url.self=http://www.example.com/wechatpivot
wechatpivot.{app}.appid={appid}
wechatpivot.{app}.secret={secret}
wechatpivot.{app}.token={token}
wechatpivot.alias.{alias}={app}
wechat.merchant.id={id}
wechat.merchant.secret={secret}
wechat.merchant.notify={url}
mysql.address={address}
mysql.database={database}
mysql.username={username}
mysql.password={password}
rabbitmq.username={username}
rabbitmq.password={password}
rabbitmq.address={address}
rabbitmq.port={port}
logentries.token={token}
egg.env=dev
web.env=dev
