mysql.address={{address}}
mysql.database={{database}}
mysql.username={{username}}
mysql.password={{password}}
openurl.wechatpivot={{url}}
wechat.appid={{wechatappid}}
wechat.appsecret={{wechatappsecret}}
logentries.token={{token}}
egg.env=dev
web.env=local
