.Account {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.Account-logo {
  width: 64px;
  height: 64px;
  background-image: url(./assets/iconx128.png);
  background-size: 100% 100%;
}

.Account-backdrop {
  &.active {
    bottom: 0;
  }
}

.Account-modal {
  &.active {
    display: block;
  }

  .nav-tabs {
    margin-bottom: 20px;

    & > li > a {
      cursor: pointer;

      & > i {
        margin-right: 4px;
      }
    }
  }

  form {
    hr {
      margin-top: 0;
      margin-bottom: 0;
      border-top: dashed 1px #ddd;
    }

    .bg-success,
    .bg-warning {
      padding: 8px 15px;
      margin-bottom: 10px;
    }
  }
}
